.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    line-height: 1.5em;
}

.card__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2em;
}

.botões{
    display: flex;
    gap: 0.5em;
}

.descrição__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto{
    font-size: 14px;
    line-height: 1.5em;
}

.botões__item{
    margin: 0 0.5em;
}

.botões__ancora{
    background-color: var(--laranja);
    padding: 0.6em 2.22em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

.botões__imagem{
    width: 1.8em;
    height: 1.8em;
}

.descrição__imagem{
    padding-left: 0.5em;
}

.botões__ancora:focus,
.botões__ancora:hover{
    background: var(--azul-degrade);
}

@media (min-width: 1024px){
    .card{
        width: 50%;
        margin: 2em auto;
    }
}

@media (min-width: 1727px){
    .card{
        width: 60%;
        margin: 2.5em 0 0 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descrição__titulo{
        font-size: 32px;
        line-height: 1.4em;
    }
    .descrição__titulo-livro{
        margin: 1em 0;
    }

    .descrição__texto{
        font-size: 16px;
        line-height: 1.8em;
    }

    .descrição{
        margin-right: 2em;
    }

    .descrição__estrelinhas{
        width: 120px;
        margin-bottom: 0.4em;
    }
}