.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
    width: 2em;
    height: 2em;
    display: block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.3);
    z-index: 2;
    background-color: var(--branco);
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    text-transform: uppercase;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.lista-menu__item:hover,
.opções__item:hover,
.opções__item:hover .opções__link{
    background: var(--azul-degrade);
    color: var(--branco);
}

.lista-menu__item:hover .lista-menu__link {
    color: var(--branco);
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

.container__logo:focus .container__imagem {
    background: var(--azul-degrade);
    border-radius: 40%;
}

.container__icone:focus .container__imagem{
    background: var(--laranja);
    border-radius: 40%;
}

.container__logo-texto,
.opções,
.container__texto{
    display: none;
}

@media (min-width: 1024px){
    .container__logo-texto{
        display: block;
    }

    .opções{
        display: flex;
    }

    .opções__item{
        padding: 1.5em 1em;
        text-transform: uppercase;
    }

    .opções__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente,
    #menu-hamburguer{
        display: none;
    }

    .lista-menu{
        width: 11em;
    }

    .cabeçalho{
        padding: 0 3em;
    }

    .container__logo{
        display: flex;
    }

    .container__logo:focus .container__imagem{
        background: none;
        border-radius: 0%;
    }
}

@media (min-width: 1728px){
    .container__icone{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        margin: 0 0.8em;
    }

    .container__imagem{
        padding: 0.5em;
    }

    .opções{
        margin-right: auto;
        margin-left: 3em;
        user-select: none;
    }

    .container__texto{
        display: block;
    }
}